body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after {
    content: '';
}

abbr,acronym {
    border: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: #fff;
}

.to-split {
    margin: auto;
    width: 80%;
}

/* optional Container STYLES */
.chart {
    height: 99vh;
    width: 100vw;
    margin: auto;
    bottom: 0;
}

.ast-node {
    font-weight: bold;
    padding: 2px;
    font-size: 14px;
}

.ast-leaf {
    font-weight: normal;
}

#open-fab {
    position: absolute;
    left: 32px;
    bottom: 32px;
}